.dot-flashing {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 6px;
}

.dot-flashing::before, .dot-flashing::after, .dot-flashing {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: #2563eb;
  border-radius: 50%;
  animation: flash 1.4s infinite;
}

.dot-flashing::before {
  left: -10px;
  animation-delay: 0s;
}
.dot-flashing {
  left: 0;
  animation-delay: 0.2s;
}
.dot-flashing::after {
  left: 10px;
  animation-delay: 0.4s;
}

@keyframes flash {
  0%, 80%, 100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
